cppcryptfs.opensdf
cppcryptfs.sdf
cppcryptfs/cppcryptfs.vcxproj.user
.vs/
ipch/
cppcryptfs/x64/
x64/
Debug/
Release/
cppcryptfs/Debug/
cppcryptfs/Release/
cppcryptfs/cppcryptfs.aps
Report*.vspx
Report*.diagsession
enc_temp_folder/
cppcryptfs/fileutil.cpp.security_attributes_on_diriv
cppcryptfs/namedpipe/
cppcryptfsctl/cppcryptfsctl.vcxproj.filters
cppcryptfsctl/cppcryptfsctl.vcxproj.user
libipc/libipc.vcxproj.filters
libipc/libipc.vcxproj.user
